html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

.header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #008aac83);
    display: flex;
    height: 60px;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 1536px;
    transition: top .6s;
}

.header.animate {
    top: -71px;
}

.header.sticky {
    top: 0;
    z-index: 2;
}

.header .logo h1 {
    margin-left: 50px;
    font-size: 30px;
    font-family: cursive;
    color: #fff;
}

.header .header-menu {
    display: flex;
}



.header .header-menu .menu ul {
    display: flex;
    margin-left: 220px;
}

.header .header-menu .menu ul li {
    margin-left: 100px;
}

.header .header-menu .menu ul li a {
    color: #fff;
    display:inline-block;
    position:relative;
    transition: 800ms;
    padding-bottom: 5px;
    margin-top: 5px;
}

.header .header-menu .menu ul li a:hover {
    color: rgb(0, 198, 233);
}

.header .header-menu .menu ul li i{
    opacity: 0;
    transition: 800ms;
    color: #fff;
}

.header .header-menu .menu ul li:hover i {
    opacity: 1;
    color: rgb(0, 195, 255);
}

.header .header-menu .menu ul li a::after {
    content:'';
    position:absolute;
    width: calc(100% + 25px);
    transform:scaleX(0);
    height:0.7px;
    bottom:0;
    left: 0;
    background-color:rgb(0, 195, 255);
    transform-origin:bottom left;
    transition:transform 0.25s ease-in-out;
    margin-top: 200px;
}

.header .header-menu .menu ul li a:hover::after {
    transform:scaleX(1);
    transform-origin:bottom left;
}


/*BANNER*/

.banner {
    background: linear-gradient(to bottom, rgb(0, 92, 196), rgb(111, 48, 212));
    height: 600px;
    overflow: hidden;
}

.banner .texts {
    width: 700px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 411px;
}

.banner .texts h1 {
    padding-top: 150px;
    padding-bottom: 100px;
    font-size: 30px;
    color: #000;
}

.banner .texts h4 {
    font-size: 16px;
    padding-left: 10px;
}

 .giris {
    z-index: 5;
    position: absolute;
    top: 450px;
    left: 570px;
}

.giris ul {
    display: flex;
}

.giris ul li {
    margin-right: 190px;
}

.giris ul li a {
    color: #000;
    background: rgba(255, 127, 80, 0);
    border: solid #000 1px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 25px;
    transition: 400ms;
}

.giris ul li a:hover {
    background: linear-gradient(to bottom, rgba(0, 92, 196, 0.301), rgba(111, 48, 212, 0.356));
    color: #fff;
    border:  rgb(3, 139, 163) 1px solid;
}

/*BALONLAR*/

.banner .bubble1 {
    height: 400px;
    width: 400px;
    background: rgba(216, 61, 0, 0.527);
    border-radius: 100%;
    margin-left: 1250px;
    margin-top: 350px;
}

.banner .bubble2 {
    height: 100px;
    width: 100px;
    background: rgba(0, 177, 147, 0.336);
    border-radius: 100%;
    position: absolute;
    top: 360px;
    right: 250px;
}

.banner .bubble3 {
    height: 50px;
    width: 50px;
    background: rgba(29, 177, 0, 0.452);
    border-radius: 100%;
    position: absolute;
    top: 340px;
    right: 350px;
}

.banner .bubble4 {
    height: 400px;
    width: 400px;
    background: rgba(68, 0, 107, 0.527);
    border-radius: 100%;
    position: absolute;
    top: -260px;
    right: 400px;
}

.banner .bubble5 {
    height: 400px;
    width: 400px;
    background: rgba(0, 60, 138, 0.664);
    border-radius: 100%;
    position: absolute;
    top: 40px;
    left: 20px;
}

.banner .bubble6 {
    height: 100px;
    width: 100px;
    background: rgba(0, 255, 128, 0.336);
    border-radius: 100%;
    position: absolute;
    top: 460px;
    left: 450px;
}

.banner .bubble7 {
    height: 100px;
    width: 100px;
    background: rgba(51, 255, 0, 0.438);
    border-radius: 100%;
    position: absolute;
    top: 40px;
    right: 290px;
}


/*BALONLAR BİTİŞ*/

/*ABOUT*/

.about {
    display: flex;
    padding-top: 180px;
    padding-bottom: 180px;
    background: rgb(247, 247, 247);
    align-items: center;
}

.about .about-left {
    margin-left: 50px;
}

.about .about-right {
    margin-left: 110px;
}

.about .about-left .about1 {
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 4px solid #00A6CF;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about .about-left .about2 {
    display: flex;
    border-top: 4px solid #00A6CF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 30px;
}

.about .about-right .about3 {
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 4px solid #00A6CF;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about .about-right .about4 {
    display: flex;
    border-top: 4px solid #00A6CF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 30px;
}

.about .about-left h2 {
    max-width: 600px;
    font-size: 18px;
}

.about .about-right h2 {
    max-width: 600px;
    font-size: 18px;
}

.about i {
    font-size: 50px;
    padding-top: 20px;
    padding-right: 15px;
    color: rgb(0, 166, 207);
}

.about h4 {
    font-size: 25px;
    padding-bottom: 8px;
}
.uzama {
    height: 500px;
    background: rgb(247, 247, 247);

}